


<div class="container-fluid about-heading">
<h2>Welcome to Fast & Fresh. We turn healthy eating into a delightfully easy thing to do,
   by delivering it right to your door, one box at a time.</h2>
</div>
<!--Lists-->
<div class="container-fluid process" id="process">
  <div class="row process_inner">
    <div class="col-md-12 text-center" id="process_header">
      <h1>Our Menu</h1>
    </div>
    <div class="col-xs-12 col-md-4">
     <ul>

     </ul>
    </div>
    <div class="col-xs-12 col-md-4">
     <ul>
       <li>NO ARTIFICIAL INGREDIENTS</li>
       <li>NO HYDROGENATED OILS</li>
       <li>NO REFINED SUGARS</li>
       <li>NO ARTIFICIAL PRESERVATIVES</li>
       <li>NO ITEMS FROM OUR LIST OF 85 BANNED INGREDIENTS</li>
     </ul>
    </div>
    <div class="col-xs-12 col-md-4">
     <ul>

     </ul>
    </div>


  </div>
</div><!--end Lists-->

<!--Testimonials-->
  <div class="container-fluid"  id="testimonials">
    <div class="row">
      <div class="col-md-12 text-center" id="testimonial_header">
        <h1>What Others Are Saying...</h1>
      </div>
      <div class="col-md-4 testimonial">
        <div><%= image_tag("rsz_victoria_clark.jpg", class: "img-responsive")%></div>
        <h5>With Fast & Fresh, I don’t have to think about what I’m going to eat for lunch
          each day and feel good knowing that I’m eating a healthy meal. I love the convenience! ~Victoria Clark</h5>
      </div>

      <div class="col-md-4 testimonial">
        <div><%= image_tag("rsz_jesse.jpg", class: "img-responsive")%></div>
        <h5>I love that I have found Fast & Fresh and that it allows me to try new things
           and allows me to eat healthy while remaining affordable! ~Mary Noist</h5>
      </div>

      <div class="col-md-4 testimonial">
        <div><%= image_tag("rsz_victoria_clark.jpg", class: "img-responsive")%></div>
        <h5>The convenience of a well prepared, healthy, flavorful meal with no shopping,
           preparing, or clean up is simply amazing. Looking forward to the rest of the week. ~Jessie Steele</h5>
      </div>

    </div>
  </div><!--end Testimonials---->

<!--About section-->
<div class="container-fluid" id="about">
<div class="row">
  <div class="col-xs-12 about-heading">
  <h2>We offer something for everyone.</h2>
 </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4" id="profile_info">
    <p>Highest-quality and peak-season ingredients, cooked by our chefs
      according to the guidelines and standards created by our nutritionists.
    </p>
  </div>
  <div class="col-xs-12 col-md-4">
    <p>We maintain strict standards to deliver recipes crafted from real
      ingredients, the way nature meant them to be.</p>
  </div>
  <div class="col-xs-12 col-md-4">
    <p>We make eating healthy easy and delicious. Our meals are delivered
      fresh, never frozen, right to your doorstep each week.</p>
    </div>
  </div>
</div><!--end about me bio container-->
