<h1>About Us</h1>

<h2>Belle & Beau, your personal child stylist.</h2>
<p>We match your kids with the latest trends that fit their style. We know you're
super busy with doing the heavy lifting of raising your little ones. We make it easy to keep
them dressed perfectly by sending you a new outfit for them each week that fits their exact style.</p>
