// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-main {

}
.hero-main h1 {
}
.main-caption {

}

.hero-image {

}

.about-heading {
  margin-top: 7%;
}


.hero-button {
  background-color:#fab1a0;
  color:#fff;
  margin-left:0;
  margin-top: 10%;
  margin-bottom: 20%;
  width:20%;
  height:35px;
  border:2px solid #fff;
  -webkit-transition:background-color 600ms;
}

.hero-button:hover  {
  background-color:green;
}

/*navigation*/
.navbar {
  background-color: #fab1a0;
  opacity: .5;
}
.navbar-custom {
  color: #fff;
}
.search_field {

}
/*How it Works Process*/

.process {
  color:#fab1a0;
  margin-bottom: 7%;
}
.process-images {
  margin-left: 40%;
  margin-top: 10%;
}

/*Products*/
#products_heading {
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Footer*/
.footer {
  background-color:#fab1a0;
  margin:0;
  color:#fff;
}

.footer-row {
  margin-top:.5%;
}

.copyright {
  color:#fff;
}
/*Social Media*/
#twitter {
}

#fb_like {

  padding-right: 2%;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
    background-color:#000;
    opacity: 0.6;
  }

  /*Contact*/
.contact{
      /*background-image:url("../images/healthy_busy.jpg");*/
  /*Add a background image*/
      background-attachment:fixed;
  /*Give the background a fixed position does it not scroll when you scroll*/
      background-size:cover;
  /*Have the background cover the entire div section*/
      color:#000;

  /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
      padding-bottom:10%;
      margin-top:3%;

  }
  .clear_touch1 {
    display:inline-block;
    width:100%;
    padding:8px;
    background-color:#fab1a0;
    border:2px solid #fff;
    text-align:center;
    outline:none;
    text-decoration:none;
    -webkit-transition:background-color 600ms;
  }

  .clear_touch1:hover {
    background-color:#2C3A47;
    color: #fff;
  }

  .contact-input {
    background-color:Transparent;
    border:2px solid #000;
  }

  #contact_info {
    text-align: left;
  }

  #submit_message {
    color:#fff;
  }

.signup-page {
  background-image: url('lady_eat_healty_bw.jpg');
  width: 100%;
}
.signup-form {
  background-color: #38ada9;
  color: #fff;
  opacity: .9;
  margin: 10% 0 10% 33%;
}

.signup_button {
  width: 100%;
}



  @media only screen and (max-width: 600px) {
      .centered {
          background-color: #000;
          height: 15%;
          width: 100%;
          margin-bottom: 40%;
          top: 15%;
      }

      .hero-button {
        margin-top: -15%;
        margin-bottom: 115%;
        width:50%;
        height:35px;
      }
      .process {
        margin-top: 20%;
      }

  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
  }
